<div class="row whiteBackground margin0">
    <div class="col">
        <div class="row logoRow">
            <div class="col-1"></div>
            <div class="col-8 flexDisplay brandColumn">
                <div>
                    <img id="logo" src="../../assets/tropogoLogo.PNG">
                </div>
                <div class="brandtext brandBlue">
                    TROPO
                </div>
                <div class="brandtext brandGreen">
                    GO
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
<div class="row devider">
    <div class="col-4 backgroundGreen"></div>
</div>